Esercizi/esercizio5.dtd

<!-- ES5: Definire i seguenti elementi:
elemento root: TEI; elementi figli:
header (obbligatorio una occorrenza)
facsimile (opzionale una occorrenza)
text (obbligatorio almeno una occorrenza). Gli elementi header, facsimile e text hanno tutti un content model testuale
studente: ALESSANDRO LABATE 
matricola: 546342
corso: codifica di testi 2019-20
-->
<!ELEMENT root (header, facsimile?, text+)>
<!ELEMENT header (#PCDATA))>
<!ELEMENT facsimile (#PCDATA))>
<!ELEMENT text (#PCDATA))>
